* {
  margin: 0;
  padding: 0;
}

.page {
  background-image: url(/images/backgrounds/background2.jpg);
  width: 100%;
  height: 100vh;
}


.logo{
    margin-top: 300px;
    margin-left: 900px;
}


.welcome{
    margin-top: 60px;
    margin-left: 900px;
    font-size: 40px;
    
    
}
.people{
    margin-top: 60px;
    margin-left: 840px;
    font-size: 40px;
}

.fun{
    margin-top: 60px;
    margin-left: 700px;
    font-size: 18px;
}

.click {
  margin-left: 930px;
  margin-bottom: 0px;
}